.scale:hover {
  transform: scaleY(1.5);
  transition: transform 0.3s ease;
}

.scaleDiv:hover {
  transform: scaleY(1.5);
  transition: transform 0.3s ease;
}

.disable-hover {
  pointer-events: none;
}

.custom-progress-dot {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.custom-progress-dot::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: -10px;
  transform: translate(-50%, -50%);
  z-index: 100;
}
